PORT=4000
# MONGO_URI=mongodb://localhost:27017/
MONGO_URI=mongodb+srv://<userName>:<password>@cluster0.cfeguho.mongodb.net/?appName=Cluster0
REDIS_URL=redis://localhost:6379
CACHE_TTL_SECONDS=45
UPLOAD_DIR=./tmp/uploads
BCRYPT_ROUNDS=10
